<section id="about">
  <div class="about-container">
    <app-main-title [secondTitle]="title" [thirdTitle]="subtitle" />
    <svg
      class="about-container-image"
      width="436"
      height="388"
      viewBox="0 0 436 388"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <pattern
          id="imgPattern"
          patternUnits="userSpaceOnUse"
          width="436"
          height="388"
        >
          <image
            href="/assets/perfil.png"
            x="0"
            y="0"
            width="440"
          />
        </pattern>

        <mask id="mask0" mask-type="alpha">
          <path
            fill="white"
            d="M356 387C399.63 387 435 351.631 435 308V80C435 36.3695 399.63 1 356 1H80C36.3695 1 1 36.3695 1 80V120.459C1 160.522 33.4775 193 73.5405 193C112.985 193 145.602 223.73 147.949 263.105L150.906 312.701C153.393 354.432 187.961 387 229.766 387H356ZM80 0C35.8172 0 0 35.8172 0 80V120.459C0 161.075 32.9252 194 73.5405 194C112.456 194 144.635 224.318 146.951 263.164L149.907 312.761C152.426 355.019 187.432 388 229.766 388H356C400.183 388 436 352.183 436 308V80C436 35.8172 400.183 0 356 0H80Z"
          />
        </mask>
      </defs>

      <path
        d="M356 387C399.63 387 435 351.631 435 308V80C435 36.3695 399.63 1 356 1H80C36.3695 1 1 36.3695 1 80V120.459C1 160.522 33.4775 193 73.5405 193C112.985 193 145.602 223.73 147.949 263.105L150.906 312.701C153.393 354.432 187.961 387 229.766 387H356ZM80 0C35.8172 0 0 35.8172 0 80V120.459C0 161.075 32.9252 194 73.5405 194C112.456 194 144.635 224.318 146.951 263.164L149.907 312.761C152.426 355.019 187.432 388 229.766 388H356C400.183 388 436 352.183 436 308V80C436 35.8172 400.183 0 356 0H80Z"
        fill="url(#imgPattern)"
        mask="url(#mask0)"
      />
    </svg>

    <div class="about-info-container">
      <div class="description-one">
        <p>
          Olá, sou o Arthur, um desenvolvedor de software com experiência em
          NextJs, React, Java, Spring-Boot, API Rest e bancos de dados
          SQL/NoSQL. Atualmente, sou graduando em Ciência da Computação na
          UFERSA. Bastante autodisciplinado e adaptável a ambientes de trabalho
          remoto, aprimoro minhas habilidades com Next e Java diariamente.
        </p>
      </div>
      <div class="description-one-space"></div>
    </div>

    <div class="about-info-container">
      <div class="description-two">
        <p>
          Sendo um artista por hobby, aplico os conceitos artísticos que aprendo
          em todas as minhas soluções. Além disso, me considero antes de tudo um
          solucionador de problemas, sempre em busca de melhorar a eficiência do
          meu dia a dia e das pessoas ao meu redor com soluções tecnológicas.
        </p>
      </div>
      <div class="description-two-space"></div>
    </div>
    <div class="about-info-container">
      <div class="description-two icons"></div>
      <div class="description-two-space"></div>
    </div>
  </div>
</section>
