footer {
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  margin-bottom: 2.5rem;
  text-align: center;

  color: #fafafa;

  h2{
    font-size: 28px;
    font-weight: 900;
  }

  p {
    font-size: 16px;
    font-weight: 200;
  }


}

.copy {
  color: #fafafa;
  font-size: 10px;
  font-weight: 200;
}
