<section id="services">
  <div class="services-container">
    <app-main-title [firstTitle]="'COMO POSSO'" [secondTitle]="'TE AJUDAR'" />
    <div class="services-base">
      <div class="purple-circle">
        <div class="center-circle">
          <i class="fas fa-code fa-3x icon"></i>
        </div>
      </div>
      <div class="cards-container">
        <div class="first-row row">
          <app-service-card
          [icon]="'fa-code'"
          [title]="'Criação de Web Apps'"
          [description]="'Posso atuar no desenvolvimento de sites e aplicações web modernos, com design atrativo e excelente usabilidade. '"
          />
          <app-service-card
          [icon]="'fa-cogs'"
          [title]="'Integração de APIs'"
          [description]="'Conecto seus sistemas e serviços de forma segura e eficiente, para que tudo funcione perfeitamente em conjunto.'"
          />

        </div>
        <div class="second-row row">
          <app-service-card
          [icon]="'fa-hammer'"
          [title]="'Manutenção de Sites'"
          [description]="'Ofereço suporte para manter seu site sempre atualizado, seguro e funcionando perfeitamente.'"
          />
          <app-service-card
          [icon]="'fa-code-branch'"
          [title]="'Testes Automatizados'"
          [description]="'Implemento testes automatizados para garantir que seu software funcione sem problemas e com alta qualidade.'"
          />
        </div>
        <div class="third-row row">
          <app-service-card
          [icon]="'fa-dice-d6'"
          [title]="'Software Sob Medida'"
          [description]="'Crio soluções de software personalizadas que atendem exatamente às suas necessidades e objetivos.'"
          />
          <app-service-card
          [icon]="'fa-chart-line'"
          [title]="'SEO e Otimização'"
          [description]="'Melhoro a visibilidade do seu site nos motores de busca para atrair mais visitantes e clientes.'"
          />
        </div>
      </div>
    </div>
  </div>
</section>
