<section id="home">
  <div class="background">
    <app-header></app-header>
    <div class="home-items">
      <span>
        <p>Olá, meu nome é</p>
        <h1>ARTHUR</h1>
      </span>
      <h3>Eu trago suas ideias para web</h3>
    </div>
    <div class="home-buttons">
      <button class="button">
        <i class="fab fa-github fa-lg icon"></i>
        <p>GITHUB</p>
      </button>
      <button class="button">
        <i class="fab fa-linkedin fa-lg icon"></i>
        <p>LINKEDIN</p>
      </button>
    </div>
  </div>
</section>
