<section id="projects">
  <div class="container">
    <app-main-title [secondTitle]="'PROJETOS'" />
  </div>
  <div class="projects-container">
    <app-project-card
      *ngFor="let project of projects"
      (click)="openProject(project.link)"
      [projectTitle]="project.title"
      [projectDescription]="project.description"
      [projectBackgroundImg]="project.imageUrl"
      [iconsSvgContent]="project.icons"
      [projectLink]="project.link"
    >
    </app-project-card>
  </div>
  <div class="see-more">
    <a href="https://github.com/artiefellype?tab=repositories" target="_blank">
      <button class="button">
        <p>VER MAIS</p>
      </button>
    </a>
  </div>
</section>
